.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 300px;
    margin-top: 50px;
    
}
  
.remove-item-box {
    width: 60%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4CAF50;
    margin: 20px auto;
    margin-top: -10px;
    margin-right: 250px;
    
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    
}
  
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
  
input[type="text"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
}
  
.remove-item-box button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 130px;
    margin-left: 470px;
    margin-top: 15px;
    margin-bottom: -1%;
    font-size: 16px;
}
  
button:hover {
    background-color: #45a049;
    
}
  
p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
    color: #dc3545;
}
